<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
        <httpRedirect enabled="false" destination="http://swsmaint.epri.com" exactDestination="true" childOnly="false" />
        <staticContent>
            <mimeMap fileExtension=".glb" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".gltf" mimeType="application/octet-stream" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="HTTP to HTTPS redirect" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}"
                        redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
  </system.webServer>
</configuration>
